/* 全体設定　と　リセットCSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "sans-serif";
    color: #55a;
}
html{
    font-size: 24px;
}
body{
    background-color: rgb(231, 245, 240);
}

/* １．基金タイトル、２．メニュー・バー、３．プランタイトル */

.title{
    text-align: center;
    height: 1.5rem;
    font-size: .9rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: #555;
}
.nav{
    background-color:#1d80e9;
    height: 2rem;
    text-align: center;
}
.nav ul{
    list-style-type: none;
}
.nav>ul>li:nth-of-type(2){
    background-color: #55aaff;
    font-weight: bold;
}
.nav ul li{
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    background-color:#1d80e9;
}
.nav a{
    color:white;
    font-size: 1rem;
    padding:0 .7rem 0 .7rem; 
    text-decoration: none;
    line-height: 2rem;
    display: block;
}

.plan_title{
    width: 100vw;
    height: 2rem;
    line-height: 2rem;
    color: #555;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    background-color: #ffccff;
}
.container{
    display: flex;
}
.display_change{ 
    margin: 1rem  ;
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .9rem;
}
.button{
    width: 5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: .5rem;
    text-align: center;
    font-size: .8rem;
    background-color: #fff;
    color: #333;
    transition: .3s;
}
.button:hover{
    cursor: pointer;
    background-color: #0f0;
}
.display_change{
    font-size: .6rem;
}
#display-k{
    border: none;
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f00;
    color: #fff;
    opacity: .2;
}
#display-j{
    border: none;
    width: 6rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #00f;
    color: #fff;
    opacity: .2;
}

#display-k.active{
    opacity: 1;
}
#display-j.active{
    opacity: 1;
}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*  商品説明部分　（特徴、加入要件、メリット） */

main{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .container2{
    display: flex;
    align-items: center;
    justify-content: center;
} */


.font-lg{
    margin-top: 1.1rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    font-weight: bold;
}
.font-m{
    margin-top: .5rem;
    font-size: .9rem;
    font-weight: bold;   
}
.font-m2{
    margin-top: .3rem;
    font-size: .8rem;
    font-size: 300;
}
.font-s{
    font-size: .7rem;
}

.item-j,.item-k{
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;
    background-color: #0f0; */
}
.item-j{
    display: none;
}
.box{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    /* background-color: #faa; */
}

/* 事務費（テーブル） */
table{
    margin-right: .5rem;
}
table,table tr,table th,table td{
    border: .05rem solid #555;
    border-collapse: collapse;
    padding:.3rem .4rem .3rem .4rem;
    text-align: center;
    font-size: .9rem;
    color: #555;
    background-color: #fff;
}
table td:nth-child(3){
    text-align: left;
}
table th:nth-child(1){
    width: 5.4rem;
}

img{
    width: 90vw;
    max-width: 30rem;
    height:auto;
}

/* 運用商品 */


@media (min-width:700px) {
    
}


@media (max-width:700px) {
    html{
        font-size: 16px;
    }
}